<% include partials/header %>

<div class="container">
    <% if (currentUser.username != role.admin)  { %>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>
                        You aren't authorized to access here!!</h1>
                    <div>
                        <a href="/" class="btn btn-primary">
                            <span class="glyphicon glyphicon-home"></span>
                            Home </a>
                    </div>
                </div>
            </div>
        </div>
        <% } else { %>
        <div class="container">
            <div class="container">
                <h1>Total Number of Tasks to date:</h1>
                <h2><%=countedTasks.count%>;</h2>
                </div>
                
            <div id="myChart"></div>
            <!-- Not initializing your chart until the document is-->
       <!-- window.onload = function() {
          <!-- N put chart.js code here
        }-->
 <!--       <canvas id="myChart"></canvas>
    <script>
        var data = {
            labels: [],
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: {{chartData}}
                }
            ]
        };

        var ctx = document.getElementById("myChart").getContext("2d");
        //var myNewChart = new Chart(ctx).Line(data);
    </script>-->
    <script>
        var canvas = document.getElementById('myChart');
        var labelsD = <%=chartingDataSet.label%>;
        var dataset = <%=chartingDataSet.dataset%>;
        var data = {
        //labels: 
        labels: <%- JSON.stringify(labelsD); %>,
        datasets: [
        {
          label: "My First dataset",
          backgroundColor: "rgba(255,99,132,0.2)",
          borderColor: "rgba(255,99,132,1)",
          borderWidth: 2,
          hoverBackgroundColor: "rgba(255,99,132,0.4)",
          hoverBorderColor: "rgba(255,99,132,1)",
          data: <%- JSON.stringify(dataset); %>,
        }
      ]
    };
    </script>
        </div>

</div>
<% include partials/footer %>