<% include partials/header %>

<div class="container">
        <% if (1!==1)  { %>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>
                        You aren't authorized to access here!!</h1>
                    <div>
                        <a href="/" class="btn btn-primary">
                            <span class="glyphicon glyphicon-home"></span>
                            Home
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <% } else { %>
        <div class="container">
            <div class="container">
                <h1>Total Number of Tasks to date:</h1>
                <h2><%=countedTasks%></h2>
                </div>
            <div class="container">
                <h1>Total Number of users to date:</h1>
                <h2><%=countUser%></h2>
                </div>
                <div class="container">
                <canvas id="lineChart"></canvas>
                </div>
                <div class="container">
                <canvas id="DualLineChart"></canvas>
                </div>
                <div class="container">
                <canvas id="pieChart"></canvas>
                </div>
        </div>
        <% } %>
</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<!--pie chart-->
<script>

    window.onload = function() {
        var ctx = document.getElementById("pieChart");
        window.myDoughnut = new Chart(ctx, config);
    };
    
    var config = {
        type: 'horizontalBar',
        data: {
            labels: <%-labels%>,
            datasets: [{
                label: 'Number of tasks in category',
                data: <%-data%>,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(185, 31, 202, 0.2)',
                    'rgba(202, 31, 134, 0.2)',
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(185, 31, 202, 1)',
                    'rgba(202, 31, 134, 1)',
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            legend: {
                display:false,
                position: 'top',
            },
            title: {
                display: true,
                text: "Number of tasks in each category"
            },
            animation: {
                animateScale: true,
                animateRotate: true
            }
        }
    };
</script>
<!--line chart-->
<script>

    window.onload = function() {
        var ctx = document.getElementById("lineChart");
        window.myLine = new Chart(ctx, config);
    };
    
    var config = {
        type: 'line',
        data: {
            labels: <%-userCountLabel%>,
            datasets: [{
                label: 'Total number of users in a given month',
                data: <%-userCountData%>,
            }]
        },
        options: {
            responsive: true,
            legend: {
                display:false,
                position: 'top',
            },
            title: {
                display: true,
                text: "Total number of users in a given month"
            },
        }
    };
</script>
<!--Dual line chart-->
<script>

    window.onload = function() {
        var ctx = document.getElementById("DualLineChart");
        window.myLine = new Chart(ctx, config);
    };
    
    var config = {
        type: 'line',
        data: {
            labels: <%-taskCountLabel%>,
            datasets: [{
                label: 'Tasks',
                data: <%-taskCountData%>,
                backgroundColor: "rgba(255,153,0,0.4)"
            },{
                label: 'Offers',
                data: <%-offerCountData%>,
                backgroundColor: "rgba(153,255,51,0.4)"
            }]
        },
        options: {
            responsive: true,
            legend: {
                display:false,
                position: 'top',
            },
            title: {
                display: true,
                text: "Total number of tasks and offers in a given month, for the past 6 months"
            },
        }
    };
</script>

<% include partials/footer %>
