<% include ./partials/header %>

    <div class="container">
        <nav class="breadcrumb">
            <a class="breadcrumb-item" href="javascript:history.back()">
                < Back</a> | You are currently at:
                    <a class="breadcrumb-item" href="/">Home</a> >
                    <span class="breadcrumb-item active"> Profile</span>
        </nav>

        <div class="page-header text-center">
            <h1>
                <span class="fa fa-anchor"></span> Profile Page</h1>
            <% if (user.role == 'admin') { %>
                <br><br>
                <a href="/admin" class="btn btn-danger btn-lg">Admin Powers</a>
            <% } %>
        </div>

        <% if (typeof prevUrl != 'undefined') { %>
            <div class="row text-center">
                <a href="<%=prevUrl%>" class="btn btn-success btn-lg">Back to where you were!</a>
            </div>
            <% } %>
                <br>
                <div class="row">

                    <!-- LOCAL INFORMATION -->
                    <div class="well">
                        <h3>
                            <span class="fa fa-user"></span> User Profile</h3>

                        <p>
                            <strong>id</strong>:
                            <%= user.id %>
                                <br>
                                <strong>username</strong>:
                                <a href="/profile/<%=user.username%>">
                                    <%= user.username %>
                                </a>
                                <br>
                                <strong>email</strong>:
                                <%=user.email %>
                                <br>
                        </p>

                        <a href="/profile/<%=user.username%>/tasks" class="btn btn-success btn-sm"><%=numTasks%> task(s) created</a>
                        <a href="/profile/<%=user.username%>/offers/accepted" class="btn btn-default btn-sm"><%=numOffers.accepted_count%> accepted offer(s)</a>
                        <a href="/profile/<%=user.username%>/offers/pending" class="btn btn-default btn-sm"><%=numOffers.pending_count%> pending offer(s)</a>
                        <a href="/profile/<%=user.username%>/offers/rejected" class="btn btn-default btn-sm"><%=numOffers.rejected_count%> rejected offer(s)</a>

                    </div>

                </div>

                <div class="row">
                </div>

                <div class="page-header text-center">
                    <h1><span class="fa fa-anchor"></span>Tasks and Offers</h1>
                    <button id="taskButton" class="btn btn-primary btn-sm profile-btn">Your tasks</button>
                    <button id="offerButton" class="btn btn-info btn-sm profile-btn">Your offers</button>
                    <a href="/tasks" class="btn btn-default btn-sm">All tasks</a>
                    <a href="/categories" class="btn btn-default btn-sm">All categories</a>
                </div>
                <div id="links"></div>
                <div id='viewing'></div>

    </div>

    </div>

    <script>
        $(document).ready( function() {
            var taskUrl = '/profile/<%=user.username%>/tasks #tasks'
            var taskLinkUrl = '/profile/<%=user.username%>/tasks #taskLinks'
            $('#links').load(taskLinkUrl);
            $('#viewing').load(taskUrl);
        });
    </script>

<script>
    $(document).ready( function() {
        var taskUrl = '/profile/<%=user.username%>/tasks #tasks'
        var taskLinkUrl = '/profile/<%=user.username%>/tasks #taskLinks'

        var offerUrl = '/profile/<%=user.username%>/offers #offers'
        var offerLinkUrl = '/profile/<%=user.username%>/offers #offerLinks'
        $("#taskButton").click(function(){
            $('.profile-btn').removeClass('btn-primary').addClass('btn-info');
            $(this).removeClass('btn-info').addClass('btn-primary');
            $('#viewing').load(taskUrl);
            $('#links').load(taskLinkUrl);
        });
        $("#offerButton").click(function(){
            $('.profile-btn').removeClass('btn-primary').addClass('btn-info');
            $(this).removeClass('btn-info').addClass('btn-primary');
            $('#viewing').load(offerUrl);
            $('#links').load(offerLinkUrl);
        });
    });
    </script>

    <% include ./partials/footer %>
