<% include partials/header %>

<div class="container">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="/landing">Home</a>
        <a class="breadcrumb-item" href="/categories">Categories</a>
        <a class="breadcrumb-item" href="javascript:history.back()">Back</a>
        <span class="breadcrumb-item active"><%= task.title %></span>
    </nav>
    
    <div class="container">
        <div class="col-md-6" id="task">
            <div class="row">
                <div class="col-md-12">
                    <h1><%= task.title %></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <span class="label label-primary">#<%= task.id %></span>
                    <span class="label label-info"><%= task.status_task %></span>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h3>Description:</h3>
                    <p class="description">
                        <%= task.description %>
                    </p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h3>Location:</h3>
                    <p class="location">
                        <%= task.location %>
                    </p>
                </div>
                <div class="col-md-12">
                    <h3>Starts:</h3>
                    <p class="start_dt">
                        <%= task.start_dt %>
                    </p>
                </div>
                <div class="col-md-12">
                    <h3>Ends:</h3>
                    <p class="end_dt">
                        <%= task.end_dt %>
                    </p>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-12">
                    <h3>Opening offer:</h3>
                    <p class="task_price">
                        <%= task.price %>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-md-6" id="requester-info">
            <div class="row">
                <div class="col-md-12">
                    <h3>Requester:</h3>
                    <p class="requester">
                        <% if (loggedIn && currentUser.username == task.requester) { %>
                            You!
                        <% } else { %>
                        <%= task.requester %>
                        <% } %>
                    </p>
                </div>
            </div>
                
                <% if (loggedIn) { %>
                    <% if (currentUser.username == task.requester) { %>
                        <a class="btn btn-primary" href="#">Edit this task</a>
                        <% } else { %>
                        <a class="btn btn-info" href="#">Offer to help!</a>
                <% } } else { %>
                    <a class="btn btn-info" href="/login">Login to offer!</a>
                    <a href="/signup">Or sign up now!</a>
                <% } %>
                    <div class="row">
                <div class="col-md-12">
                        <h3>Current offers:</h3>
                        <p class="offers">
                            None
                        </p>
                </div>
                </div>
            </div>
        </div>
    </div>