<% include partials/header %>

<div class="container">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="javascript:history.back()">< Back</a> |
        You are currently at:
        <a class="breadcrumb-item" href="/">Home</a> >
        <a class="breadcrumb-item" href="/categories">Categories</a> >
        <span class="breadcrumb-item active"> Tasks</span>
    </nav>
    
    <header class="jumbotron">
        <div class="container">
            <h1>Tasks</h1>
            <p>Not sure what to work on? Choose one from here!</p>
            <p>
                <% if (loggedIn) { %>
                    <a class="btn btn-primary btn-lg" href="/tasks/new">Add new tasks</a>
                    <% } else { %>
                        <a class="btn btn-primary btn-lg" href="/login">Login to add new tasks!</a>
                        <a href="/signup">Or sign up now!</a>
                        <% } %>
                    </p>
                </div>
            </header>
            <!--Each Task has:-->
            <!-- * id-->
            <!-- * DISPLAYED - title-->
            <!-- * DISPLAYED - description-->
            <!-- * category_id-->
            <!-- * location-->
            <!-- * DISPLAYED - requester-->
            <!-- * start_dt-->
            <!-- * end_dt-->
            <!-- * DISPLAYED - price-->
            <!-- * status_task-->
            <!-- * assignee-->
            
            <div class="row">
            <% tasks.forEach(function(task) { %>
                    <div class="panel panel-default">
                            <div class="panel-heading">
                                    <h3 class="panel-title"><%= task.title %></h3>
                                </div>
                        <div class="panel-body">
                            <p>Description: <%= task.description %></p>
                            <p>Start: <%= task.start_dt %></p>
                            <p>End: <%= task.end_dt %></p>
                            <p>Status: <%= task.status_task %></p>
                            <p>Starting offer: <%= task.price %></p>
                            <% if (loggedIn && currentUser.username == task.requester) { %>
                                <a class="btn btn-warning" href="#">Edit this task</a>
                            <% } else { %>
                                <a class="btn btn-info" href="/tasks/<%=task.id%>">Help with this task!</a>
                            <% } %>
                        </div>
                        <div class="panel-footer">Requested by: <%= task.requester %></div>
                    </div>
                    <% }); %>
                </div>
                
                
                <% include partials/footer %>