<% include partials/header %>

<div class="container">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="javascript:history.back()">< Back</a> |
        You are currently at:
        <a class="breadcrumb-item" href="/">Home</a> >
        <a class="breadcrumb-item" href="/profile">Profile</a> >
        <span class="breadcrumb-item active"> My offers</span>
    </nav>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/profile/tasks" class="btn btn-sm btn-info active">Your tasks</a>
        <a href="/profile/offers" class="btn btn-primary btn-sm">Your offers</a>
        <a href="/tasks" class="btn btn-default btn-sm">All tasks</a>
        <a href="/categories" class="btn btn-default btn-sm">All categories</a>
    </div>

    <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Current offers</h1>
            <a href="/profile/offers" class="btn btn-primary active btn-sm">All your offers</a>
            <a href="/profile/offers/accepted" class="btn btn-info btn-sm">Accepted offers</a>
            <a href="/profile/offers/rejected" class="btn btn-warning btn-sm">Rejected offers</a>
        </div>
    
    <div class="row">
        <% tasks.forEach(function(task) { %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= task.title %></h3>
                </div>
                <div class="panel-body">
                    <p>Description: <%= task.description %></p>
                    <p>Start: <%= task.start_dt %></p>
                    <p>End: <%= task.end_dt %></p>
                    <p>Status: <%= task.status_task %></p>
                    <p>You offered: <%= task.offer_price %></p>
                    <a class="btn btn-info" href="/tasks/<%=task.id%>">Task Details</a>
                    <a href="/tasks/<%=task.id%>">Go to task details to edit/ remove your offer</a>
                </div>
                <div class="panel-footer">Requested by: <%= task.requester %></div>
            </div>
            
            <% }); %>
        </div>
        
        <% include partials/footer %>