<% include partials/header %>

<div class="container">
    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="javascript:history.back()">< Back</a> |
        You are currently at:
        <a class="breadcrumb-item" href="/">Home</a> >
        <a class="breadcrumb-item" href="/profile">Profile</a> >
        <span class="breadcrumb-item active"> My tasks</span>
    </nav>

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/profile/tasks" class="btn btn-sm btn-primary active">Your tasks</a>
        <a href="/profile/offers" class="btn btn-info btn-sm">Your offers</a>
        <a href="/tasks" class="btn btn-default btn-sm">All tasks</a>
        <a href="/categories" class="btn btn-default btn-sm">All categories</a>
    </div>

    <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Current tasks</h1>
            <a href="/profile/tasks" class="btn btn-default btn-sm">All your tasks</a>
            <a href="/profile/tasks/open" class="btn btn-default btn-sm">Open tasks</a>
            <a href="/profile/tasks/offered" class="btn btn-default btn-sm">Offered tasks</a>
            <a href="/profile/tasks/accepted" class="btn btn-primary active btn-sm">Accepted tasks</a>
        </div>
    
    <div class="row">
        <% tasks.forEach(function(task) { %>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><%= task.title %></h3>
                </div>
                <div class="panel-body">
                    <p>Description: <%= task.description %></p>
                    <p>Start: <%= task.start_dt %></p>
                    <p>End: <%= task.end_dt %></p>
                    <p>Status: 
                            <% if (task.status_task === 'accepted') { %>
                                <span class="label label-success lb-md">
                                    <%= task.status_task %>
                                </span>
                            <% } else if (task.status_task === 'offered') { %>
                                <span class="label label-info lb-md">
                                    <%= task.status_task %>
                                </span>
                            <% } else { %>
                                <span class="label label-warning lb-md">
                                    <%= task.status_task %>
                                </span>
                            <% } %>
                        </p>
                    <p>Starting offer: <%= task.price %></p>
                    <a class="btn btn-info" href="/tasks/<%=task.id%>">Task Details</a>
                    <a class="btn btn-warning" href="/edit/task/<%= task.id %>">Edit this task!</a>
                </div>
            </div>
            <% }); %>
        </div>
        
        
        <% include partials/footer %>