<% include partials/header %>

  <div class="container">
    <nav class="breadcrumb">
      <a class="breadcrumb-item" href="javascript:history.back()">
        < Back</a> | You are currently at:
          <a class="breadcrumb-item" href="/">Home</a> >
          <a class="breadcrumb-item" href="/profile">Profile</a> >
          <span class="breadcrumb-item active"> My tasks</span>
    </nav>

    <div class="page-header text-center">
      <h1>
        <span class="fa fa-anchor"></span> Profile Page</h1>
      <a href="/profile/tasks" class="btn btn-sm btn-primary active">Your tasks</a>
      <a href="/profile/offers" class="btn btn-info btn-sm">Your offers</a>
      <a href="/tasks" class="btn btn-default btn-sm">All tasks</a>
      <a href="/categories" class="btn btn-default btn-sm">All categories</a>
    </div>

    <div class="page-header text-center">
      <h1>
        <span class="fa fa-anchor"></span> Current tasks</h1>
      <a href="/profile/tasks" class="btn btn-default btn-sm">All your tasks</a>
      <a href="/profile/tasks/open" class="btn btn-primary btn-sm">Open tasks</a>
      <a href="/profile/tasks/offered" class="btn btn-default btn-sm">Offered tasks</a>
      <a href="/profile/tasks/accepted" class="btn btn-default btn-sm">Accepted tasks</a>
    </div>

    <div class="row">
      <% tasks.forEach(function(task) { %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              <%= task.title %>
            </h3>
          </div>
          <div class="panel-body">
            <p>
              <label>Description:</label>
              <%= task.description %>
            </p>
            <p><label>Start:</label> <%= moment(task.start_dt).format('dddd, DD MMMM YYYY, h:mm A') %></p>
            <p><label>End:</label> <%= moment(task.end_dt).format('dddd, DD MMMM YYYY, h:mm A') %></p>
            <p>
              <label>Status:</label>
              <% if (task.status_task === 'accepted') { %>
                <span class="label label-success lb-md">
                  <%= task.status_task %>
                </span>
                <% } else if (task.status_task === 'offered') { %>
                  <span class="label label-info lb-md">
                    <%= task.status_task %>
                  </span>
                  <% } else { %>
                    <span class="label label-warning lb-md">
                      <%= task.status_task %>
                    </span>
                    <% } %>
            </p>
            <p>
              <label>Location:</label>
              <%=task.location%>
            </p>
            <p>
              <label>Starting offer:</label>
              <%= task.price %>
            </p>
            <form action="/delete/task/<%=task.id%>" method="POST">
              <a class="btn btn-info" href="/tasks/<%=task.id%>">Task Details</a>
              <a class="btn btn-warning" href="/edit/task/<%= task.id %>">Edit this task!</a>

              <input type="hidden" name="id" value="<%=task.id%>" readonly>
              <button class="btn btn-danger pull-right" type="button" data-toggle="modal" data-target="#confirmDelete" data-title="Delete task"
                data-message="Are you sure you want to delete this task?">
                <i class="glyphicon glyphicon-trash"></i>
              </button>
            </form>

            <!-- Modal Dialog -->
            <div class="modal fade" id="confirmDelete" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Delete Permanently</h4>
                  </div>
                  <div class="modal-body">
                    <p>Are you sure about this?</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-danger" id="confirm">Delete</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
    </div>

    <!-- Dialog show event handler -->
    <script type="text/javascript">
      $('#confirmDelete').on('show.bs.modal', function (e) {
        $message = $(e.relatedTarget).attr('data-message');
        $(this).find('.modal-body p').text($message);
        $title = $(e.relatedTarget).attr('data-title');
        $(this).find('.modal-title').text($title);

        // Pass form reference to modal for submission on yes/ok
        var form = $(e.relatedTarget).closest('form');
        $(this).find('.modal-footer #confirm').data('form', form);
      });

      // <!-- Form confirm (yes/ok) handler, submits form -->
      $('#confirmDelete').find('.modal-footer #confirm').on('click', function () {
        $(this).data('form').submit();
      });
    </script>


    <% include partials/footer %>